.fade-in {
    @include animate(fade-in, 0.2s);
    visibility: visible;
    -webkit-transform: translateZ(0px);
}

.fade-in-right {
    @include animate(fade-in-right, 0.5s);
    visibility: visible;
    -webkit-transform: translateZ(0px);
}

.short-text,
%short-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
}