<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="en"> <![endif]-->
<head>
    <title>ng-maf | singelpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="stylesheet" type="text/css" href="compile/css/screen.css"/>
</head>

<body ng-app="mafApp">

    <header></header>

    <!--<div class="container" ng-app="blogs">-->
        <!--<div ng-controller="blubb">-->
            <!--<ul class="blogs">-->
                <!--<li ng-repeat="blog in blogs">{{blog.id}} - {{blog.name}}</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <div>
        <section class="row module-hotel-location" data-hotel-location>
            <h3 class="col-xs-12">Hotel Information</h3>

            <div class="hidden-xs col-lg-4">
                blubb
            </div>
            <div class="col-xs-12 col-lg-8">

                <section data-ng-class="{open : isSelected(0)}">
                    <h4 data-ng-click="setActive(0)"><span class="icon-way-right"></span>What's Location
                        like?</h4>

                    <div class="description-content">
                        The island's coral reef attracts a plenty of fish to snorkel distance. Dyker you
                        so do not miss Centara Grand Island Resorts own wrecks, moreover, it is not
                        unusual with whale sharks in the area. A dive center offers diving school and
                        water sports.
                    </div>
                </section>
                <section data-ng-class="{open : isSelected(1)}">
                    <h4 data-ng-click="setActive(1)"><span class="icon-way-right"></span>Getting to
                        hotel</h4>

                    <div class="description-content">
                        The island's coral reef attracts a plenty of fish to snorkel distance. Dyker you
                        so do not miss Centara Grand Island Resorts own wrecks, moreover, it is not
                        unusual with whale sharks in the area. A dive center offers diving school and
                        water sports.
                    </div>
                </section>
                <section data-ng-class="{open : isSelected(2)}">
                    <h4 data-ng-click="setActive(2)"><span class="icon-way-right"></span>Where is the
                        hotel?</h4>

                    <div class="description-content">
                        The island's coral reef attracts a plenty of fish to snorkel distance. Dyker you
                        so do not miss Centara Grand Island Resorts own wrecks, moreover, it is not
                        unusual with whale sharks in the area. A dive center offers diving school and
                        water sports.
                    </div>
                </section>
            </div>
        </section>
    </div>

    <footer class="footer"></footer>
    <script type="text/javascript" src="compile/js/maf.app.js"></script>
    <script type="text/javascript">
        console.log('website');
    </script>
</body>
</html>
