select {
    position: relative;
    min-width: 20%;
    background: white;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*dont try to combine the placeholders into one selector - IT WILL NOT WORK! - (dont ask me why)*/
::-webkit-input-placeholder {
    color: $font-icon-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $font-icon-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $font-icon-color;
}

:-ms-input-placeholder {
    color: $font-icon-color;
}

.form-control {
    color: $font-icon-color;
}

#search-form .radio-selection .form-group {
    float: left;
    margin-left: 15px;
}

#search-form .radio-selection .form-group:first-child {
    margin-left: 0px;
}

label {
    font-weight: normal;
}