.compare-achievements {
    $shadow-color: rgba(0, 0, 0, .4);

    .selectpicker.fullsize,
    .bootstrap-select.fullsize {
        width: 100% !important;
    }

    .fixed-second {
        top: 50px;
    }

    .achievement-image {
        height: 94px;

        img {
            position: absolute;
            top: 10px;
            left: 10px;

            &.fe {
                top: 20px;
                left: 20px;
                @include box-shadow($shadow-color 0 0 5px 2px);
            }
        }
    }

    .achievements {
        margin-top: 240px;

        > div {
            > .row {
                border-bottom: 1px solid $color-grey-50;
            }

            &:nth-child(odd) > .row {
                background-color: $color-grey-13;
            }

            &:nth-child(even) > .row {
                background-color: $color-grey-08;
            }
        }

        .label {
            color: $color-black;
            font-weight: normal;
            margin-top: 27px;
            font-size: 100%;
            display: inline-block;

            &.not-open {
                background-color: $color-green;
            }

            &.not-done {
                margin-top: 37px;
            }
        }
    }

    .navbar {
        @include box-shadow($shadow-color 0 0 10px 2px);
        z-index: 100;

        label {
            margin-top: 6px;
        }
    }

    .sort-label {
        position: absolute;
        left: 20px;
    }

    .options {
        padding: 0 20px;
    }

    .col-padding {
        padding: 0 5px;

        .stats {
            position: relative;
            top: 10px;
        }
    }

    .btn-block.text-center {
        padding: 6px;
    }

    .btn:focus {
        outline: none;
    }

    .badge {
        font-weight: normal;
    }

    .date-d {
        font-size: 1.4em;
    }

    .date-m {
        font-size: 1.2em;
    }
}
