<div style="margin: 10px auto; padding: 0 20px;">
    <div class="row">
        <div class="col-xs-2">Spiel:</div>
        <div class="col-xs-7 btn-group">
            <select name="peter" class="selectpicker fullsize" data-live-search="true" data-ng-model="gamelist" data-ng-options="option.name for option in games"></select>
            <div class="row well-sm">
                <div class="col-xs-8">
                    <!--<span class="glyphicon glyphicon-tower" aria-hidden="true"></span>-->
                    {{games.length}} games, last update: 27.05.2015
                </div>
                <div class="col-xs-4 text-right">
                    <a data-ng-click="getGamesFromGamer()">collect all games</a>
                </div>
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <!--<a src="{{gamelist.storeLink}}">-->
                <img data-ng-src="{{gamelist.logo}}">
            <!--</a>-->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-2">Spielerauswahl:</div>
        <div class="col-xs-10 btn-group">
            <button data-ng-repeat="typ in gamer" type="button" class="btn btn-default" data-ng-class="{'btn-primary' : typ.active}" data-ng-click="toggleGamer(typ)"> {{typ.name}} </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-2">Filter:</div>
        <div class="col-xs-6 btn-group">
            <button data-ng-if="filter.modus == 0" data-ng-repeat="filter in filterSet" type="button" class="btn btn-default" data-ng-class="{'btn-primary' : filterActive == filter.name}" data-ng-click="toggleFilter(filter.name)"> {{filter.name}} </button>
        </div>
        <div class="col-xs-4">
            <button data-ng-if="1" type="button" class="btn btn-block btn-primary" data-ng-click="compareGame()"> compareGame </button>
        </div>
    </div>
    <br>
    <div data-ng-repeat="achievement in achievements" data-ng-if="1">
        <div class="row">
            <div class="col-xs-3">
                <img src="{{achievement.image}}">
            </div>
            <!--<div class="col-xs-3">{{achievement.api}}</div>-->
            <div class="col-xs-4">
                <span class="label label-success" data-ng-show="{{achievement.unlock}}">Y</span>
                <span class="label label-danger" data-ng-hide="{{achievement.unlock}}">N</span>
                {{achievement.name}}
            </div>
            <div class="col-xs-4">{{achievement.description}}</div>
            <div class="col-xs-1">{{achievement.time}}</div>
        </div>
    </div>
</div>
