<nav class="navbar navbar-default navbar-fixed-top fixed-second">
    <!--<div class="container">-->
    <br>
    <div class="options">
        <div class="row">
            <div class="col-xs-2"><label>Spiel</label></div>
            <div class="col-xs-7 btn-group">
                <select name="peter" class="selectpicker fullsize" data-live-search="true" data-ng-model="gamelist" data-ng-options="option.name for option in games"></select>
                <div class="row well-sm">
                    <div class="col-xs-8">
                        <!--<span class="glyphicon glyphicon-tower" aria-hidden="true"></span>-->
                        <em><b>{{games.length}}</b></em> games, last update: <em>{{times}}</em>
                    </div>
                    <div class="col-xs-4 text-right">
                        <a href="" data-ng-click="getGamesFromGamer()">update gamelist</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 text-right">
                <!--<a src="{{gamelist.storeLink}}">-->
                <img data-ng-src="{{gamelist.logo}}">
                <!--</a>-->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2"><label>Spielerauswahl</label></div>
            <div class="col-xs-7 btn-toolbar">
                <div class="btn-group">
                    <button data-ng-repeat="typ in gamer" type="button" class="btn btn-default" data-ng-class="{'btn-primary' : typ.active}" data-ng-click="togglePlayer(typ)"> {{typ.name}}</button>
                </div>
                <button type="button" class="btn disabled">(max: {{playerMax}})</button>
            </div>
            <div class="col-xs-3">
                <button data-ng-if="1" type="button" class="btn btn-block btn-primary" data-ng-class="{'disabled' : playerCnt == 0 || steamCompareStatus == 'pending'}" data-ng-click="compareGame()"> compareGame</button>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row" data-ng-show="loadedAchievement">
            <div class="col-xs-2 col-md-1">
                <!--<button type="button" class="btn btn-default disabled">Sorting: </button>-->
                <label>Sortierung</label>
            </div>
            <div class="col-xs-5 col-md-6">
                <button type="button" class="btn btn-default" data-ng-class="{'btn-primary' : predicate == 'name'}" data-ng-click="steamOrder('name')"><span class="badge">{{achievements.length}}</span> &nbsp; Erfolge - Bezeichnung</button>
            </div>
            <div class="col-xs-5">
                <div class="row" data-ng-show="loadedAchievement">
                    <div class="col-xs-3 col-padding" data-ng-repeat="player in tableHeader">
                        <button type="button" class="btn btn-default btn-block text-center" data-ng-class="{'btn-primary' : predicate == 'player' + $index}" data-ng-click="steamOrder('player' + $index)">
                            {{player.player}}<!-- <span class="caret"></span>-->
                        </button>
                        <div class="stats text-center text-nowrap">
                            <span class="badge">{{player.count}}</span> =
                            <span>{{player.count / achievements.length * 100 | number: 0}}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</nav>
<section class="achievements">
    <div data-ng-repeat="achievement in achievements" data-ng-if="loadedAchievement">
        <div class="row">
            <div class="col-xs-2 col-md-1 achievement-image">
                <img class="be" data-ng-src="{{achievement.imageOpen}}">
                <img class="fe" data-ng-src="{{achievement.imageClosed}}">
            </div>
            <div class="col-xs-5 col-md-6">
                <h4>{{achievement.name}} <span glyphicon glyphicon-barcode title="{{achievement.api}}" aria-hidden="true"></span></h4>
                <p>{{achievement.description}}</p>
            </div>
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-3 col-padding text-center" data-ng-repeat="player in achievement.gamer">
                        <span class="label label-success" data-ng-show="{{player.unlock}}">{{player.time}}</span>
                        <span class="label label-danger" data-ng-hide="{{player.unlock}}">not finish</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="steamCompareStatus == 'response' && !loadedAchievement">Keine Daten vorhanden</div>
    <div data-ng-show="steamCompareStatus == 'pending'">Daten werden geladen</div>
</section>
